$unit : 20;
@for $i from 1 through $unit{
    $i : $i * 5;
    .mx-#{$i} {
        margin-left: $i * 1px;
        margin-right: $i * 1px;
    }
    .my-#{$i} {
        margin-top: $i * 1px;
        margin-bottom: $i * 1px;
    }
    .mt-#{$i} { 
        margin-top : $i * 1px;
    }
    .mr-#{$i} {
        margin-right : $i * 1px;
    }
    .mb-#{$i} {
        margin-bottom : $i * 1px;
    }
    .ml-#{$i} {
        margin-left : $i * 1px;
    }
    .px-#{$i} { 
        padding-left: $i * 1px;
        padding-right: $i * 1px;
    }
    .py-#{$i}{
        padding-top: $i * 1px;
        padding-bottom: $i * 1px;
    }
    .pt-#{$i} { 
        padding-top : $i * 1px;
    }
    .pr-#{$i} {
        padding-right : $i * 1px;
    }
    .pb-#{$i} {
        padding-bottom : $i * 1px;
    }
    .pl-#{$i} {
        padding-left : $i * 1px;
    }
}

