@charset "UTF-8";
/**
 * my-sass 
 * version 1.0
 */
/* color */
/*  color 변수  */
.textarea:after, .input-file:after, .row {
  content: '';
  display: block;
  clear: both;
}

input[type=text],
input[type=password],
input[type=data],
input[type=detetime],
input[type=datetime-local],
input[type=email],
input[type=mouth],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=week], .textarea textarea, .select select, .input-file label, .input-file .upload-name {
  width: 100%;
  height: 3rem;
  padding: 0 .75rem;
  border: 1px solid #E5E5E5;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
  line-height: 1;
  font-size: 14px;
  font-family: 'Titillium Web', 'Nanum Gothic', '굴림', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
small {
  display: block;
}

input,
textarea,
select,
button,
table {
  font-size: 14px;
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

mark {
  background-color: #ff9;
  color: #333;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img,
fieldset {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

a {
  text-decoration: none;
  color: #333;
  vertical-align: middle;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

caption.blind {
  position: static;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-left-25 {
  margin-left: 25px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-left-25 {
  padding-left: 25px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-left-35 {
  margin-left: 35px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-right-35 {
  padding-right: 35px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-left-35 {
  padding-left: 35px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-right-45 {
  margin-right: 45px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-left-45 {
  margin-left: 45px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-right-45 {
  padding-right: 45px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-left-45 {
  padding-left: 45px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-50 {
  margin-left: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

.margin-top-55 {
  margin-top: 55px;
}

.margin-right-55 {
  margin-right: 55px;
}

.margin-bottom-55 {
  margin-bottom: 55px;
}

.margin-left-55 {
  margin-left: 55px;
}

.padding-top-55 {
  padding-top: 55px;
}

.padding-right-55 {
  padding-right: 55px;
}

.padding-bottom-55 {
  padding-bottom: 55px;
}

.padding-left-55 {
  padding-left: 55px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-right-60 {
  margin-right: 60px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-left-60 {
  margin-left: 60px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-left-60 {
  padding-left: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-right-65 {
  margin-right: 65px;
}

.margin-bottom-65 {
  margin-bottom: 65px;
}

.margin-left-65 {
  margin-left: 65px;
}

.padding-top-65 {
  padding-top: 65px;
}

.padding-right-65 {
  padding-right: 65px;
}

.padding-bottom-65 {
  padding-bottom: 65px;
}

.padding-left-65 {
  padding-left: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-right-70 {
  margin-right: 70px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-left-70 {
  margin-left: 70px;
}

.padding-top-70 {
  padding-top: 70px;
}

.padding-right-70 {
  padding-right: 70px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.padding-left-70 {
  padding-left: 70px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-right-75 {
  margin-right: 75px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.margin-left-75 {
  margin-left: 75px;
}

.padding-top-75 {
  padding-top: 75px;
}

.padding-right-75 {
  padding-right: 75px;
}

.padding-bottom-75 {
  padding-bottom: 75px;
}

.padding-left-75 {
  padding-left: 75px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-right-80 {
  margin-right: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-left-80 {
  margin-left: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-right-80 {
  padding-right: 80px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-left-80 {
  padding-left: 80px;
}

.margin-top-85 {
  margin-top: 85px;
}

.margin-right-85 {
  margin-right: 85px;
}

.margin-bottom-85 {
  margin-bottom: 85px;
}

.margin-left-85 {
  margin-left: 85px;
}

.padding-top-85 {
  padding-top: 85px;
}

.padding-right-85 {
  padding-right: 85px;
}

.padding-bottom-85 {
  padding-bottom: 85px;
}

.padding-left-85 {
  padding-left: 85px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-right-90 {
  margin-right: 90px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.margin-left-90 {
  margin-left: 90px;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-right-90 {
  padding-right: 90px;
}

.padding-bottom-90 {
  padding-bottom: 90px;
}

.padding-left-90 {
  padding-left: 90px;
}

.margin-top-95 {
  margin-top: 95px;
}

.margin-right-95 {
  margin-right: 95px;
}

.margin-bottom-95 {
  margin-bottom: 95px;
}

.margin-left-95 {
  margin-left: 95px;
}

.padding-top-95 {
  padding-top: 95px;
}

.padding-right-95 {
  padding-right: 95px;
}

.padding-bottom-95 {
  padding-bottom: 95px;
}

.padding-left-95 {
  padding-left: 95px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-right-100 {
  margin-right: 100px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-left-100 {
  margin-left: 100px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-right-100 {
  padding-right: 100px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-left-100 {
  padding-left: 100px;
}

/* inputs initial
-----------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 0;
}

input,
textarea,
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select[multiple] {
  vertical-align: top;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Search Input
-----------------------------------------------*/
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

::-webkit-search-decoration {
  display: none;
}

/* input
-----------------------------------------------*/
input[type=text],
input[type=password],
input[type=data],
input[type=detetime],
input[type=datetime-local],
input[type=email],
input[type=mouth],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=week] {
  display: block;
}

input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}

input:disabled {
  background-color: #f8f8f8;
  cursor: not-allowed;
}

.input-label {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: .5rem;
}

.help-text {
  display: block;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  font-weight: normal;
}

/* Textarea
-----------------------------------------------*/
.textarea {
  width: 100%;
}

.textarea textarea {
  height: auto;
  min-height: 5rem;
  vertical-align: top;
  overflow: auto;
  resize: none;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.textarea .textarea-num {
  float: right;
}

/* Selects custom
-----------------------------------------------*/
.select {
  width: 100%;
}

.select select {
  display: block;
}

/* form checkbox / radio cusotm
-----------------------------------------------*/
.form-check {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
  vertical-align: middle;
}

.form-check label {
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
}

.form-check label:before, .form-check label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.form-check label:before {
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
  box-sizing: border-box;
}

.form-check input {
  outline: 0;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.form-check input:checked + label:before {
  background-color: #0558a5;
  border: none;
  box-sizing: border-box;
  outline: 0;
}

.form-check input:disabled + label:before {
  background-color: #ddd;
  border: none;
}

.form-check input:disabled + label:after {
  border-color: #bbb;
}

.form-check.checkbox label:before {
  border-radius: 2px;
}

.form-check.checkbox label:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #E5E5E5;
  border-top-style: none;
  border-right-style: none;
  box-sizing: border-box;
}

.form-check.checkbox input:checked + label:after {
  border-color: #fff;
}

.form-check.radio label:before {
  border-radius: 50%;
}

.form-check.radio label:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50%;
  box-sizing: border-box;
}

.form-check.radio input:checked + label:after {
  background-color: #fff;
}

/* switch cusotm
-----------------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  margin: 4px 0 4px 4px;
  font-size: 1rem;
}

.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch input[type=checkbox]:checked + label {
  transition: all .4s ease-in-out;
  background-color: #0558a5;
}

.switch input[type=checkbox]:checked + label:after {
  left: 37px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.switch input[type=checkbox]:disabled + label {
  background-color: #bbb;
}

.switch input[type=checkbox]:disabled + label:after {
  background-color: #ddd;
}

.switch label {
  transition: all .3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 15px;
  background-color: #ddd;
  border-radius: 2em;
  text-indent: -9999px;
  cursor: pointer;
}

.switch label:after {
  transition: all .3s ease-in-out;
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* File Uploads
-----------------------------------------------*/
.input-file input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-file label {
  float: left;
  display: block;
  width: 80px;
  color: #fff;
  font-size: inherit;
  line-height: 3rem;
  text-align: center;
  background-color: #0558a5;
  cursor: pointer;
  border-top: 1px solid #0558a5;
  border-bottom: 1px solid #0558a5;
  border-radius: .25em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
}

.input-file .upload-name {
  float: left;
  display: block;
  width: calc(100% - 80px);
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  background-color: #f5f5f5;
  border-radius: .25em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}

.btn {
  display: inline-block;
  padding: .8em 2em;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: normal;
  color: #2f353b;
  border: 1px solid #E5E5E5;
  border-radius: .3em;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.4);
  box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.4);
}

.btn-small {
  padding: .5em 1.5em;
  font-size: .9rem;
}

.btn-large {
  padding: 1em 2.4em;
  font-size: 1.1rem;
}

.btn:hover, .btn:active, .btn:focus {
  -webkit-box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
  box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
}

.btn-default {
  background-color: #e1e5ec;
  border-color: #e1e5ec;
}

.btn-blue {
  background-color: #3598dc;
  color: #fff;
  border-color: #3598dc;
}

.row + .row {
  margin-top: 3%;
}

[class^="col-"] {
  float: left;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class^="col-"]:last-child {
  margin-right: 0%;
}

/*
 .col-1  { width:5.583333333333333%; }
 .col-2  { width:14.16666666666667%; }
 .col-3  { width:22.75%; }
 .col-4  { width:31.33333333333333%; }
 .col-5  { width:39.91666666666667%; }
 .col-6  { width:48.5%; }
 .col-7  { width:57.08333333333333%; }
 .col-8  { width:65.66666666666666%; }
 .col-9  { width:74.25%; }
 .col-10 { width:82.83333333333333%; }
 .col-11 { width:91.41666666666666%; }
 .col-12 { width:100%; }
 */
.col-1 {
  width: 5.58333%;
}

.col-2 {
  width: 14.16667%;
}

.col-3 {
  width: 22.75%;
}

.col-4 {
  width: 31.33333%;
}

.col-5 {
  width: 39.91667%;
}

.col-6 {
  width: 48.5%;
}

.col-7 {
  width: 57.08333%;
}

.col-8 {
  width: 65.66667%;
}

.col-9 {
  width: 74.25%;
}

.col-10 {
  width: 82.83333%;
}

.col-11 {
  width: 91.41667%;
}

.col-12 {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */