@mixin freeFix($property, $values){
    -webkit-#{$property} : $values;
    -moz-#{$property} : $values;
    -ms-#{$property} : $values;
    -o-#{$property} : $values;
    #{$property} : $values;
}
@mixin createBtn($color){
    background-color:$color;
    border-color:$color;
    &:hover, &:active, &:focus{
        background-color: $color - ($color / 10);
    }
}
//media min-width
@mixin mediaMin($value){
    @media screen and (min-width:#{$value}px){
        @content;
    }
}
//media max-width
@mixin mediaMax($value){
    @media screen and (max-width:#{$value}px){
        @content;
    }
}
//media min-width and max-width
@mixin mediaMinMax($minValue, $maxValue){
    @media screen and (min-width:#{$minValue}px) and (max-width:#{$maxValue}px) {
        @content;
    }
}