$color-main: rgb(5, 88, 165);

/* color */
$color-main: rgb(5, 88, 165);

/*  color 변수  */
$color-white: rgb(255, 255, 255);
$color-default: rgb(225, 229, 236);
$color-dark: rgb(47, 53, 59);
$color-blue: rgb(53, 152, 220);
$color-blue-madison: rgb(87, 142, 190);
$color-blue-chambray: rgb(44, 62, 80);
$color-blue-ebonyclay: rgb(34, 49, 63);
$color-blue-hoki: rgb(103, 128, 159);
$color-blue-steel: rgb(75, 119, 190);
$color-blue-soft: rgb(76, 135, 185);
$color-blue-dark: rgb(94, 115, 139);
$color-blue-sharp: rgb(92, 155, 209);
$color-blue-oleo: rgb(148, 160, 178);
$color-green: rgb(50, 197, 210);
$color-green-meadow: rgb(27, 188, 155);
$color-green-seagreen: rgb(27, 163, 156);
$color-green-turquoise: rgb(54, 215, 183);
$color-green-haze: rgb(68, 182, 174);
$color-green-jungle: rgb(38, 194, 129);
$color-green-soft: rgb(63, 171, 164);
$color-green-dark: rgb(77, 179, 162);
$color-green-sharp: rgb(42, 180, 192);
$color-green-steel: rgb(41, 180, 182);
$color-grey: rgb(229, 229, 229);
$color-grey-steel: rgb(233, 237, 239);
$color-grey-cararra: rgb(250, 250, 250);
$color-grey-gallery: rgb(85, 85, 85);
$color-grey-cascade: rgb(149, 165, 166);
$color-grey-silver: rgb(191, 191, 191);
$color-grey-salsa: rgb(172, 181, 195);
$color-grey-salt: rgb(191, 202, 209);
$color-grey-mint: rgb(82, 94, 100);
$color-red: rgb(231, 80, 90);
$color-red-pink: rgb(224, 130, 131);
$color-red-sunglo: rgb(226, 106, 106);
$color-red-intense: rgb(227, 91, 90);
$color-red-thunderbird: rgb(217, 30, 24);
$color-red-flamingo: rgb(239, 72, 54);
$color-red-soft: rgb(208, 84, 84);
$color-red-haze: rgb(243, 106, 90);
$color-red-mint: rgb(228, 58, 69);
$color-yellow: rgb(196, 159, 71);
$color-yellow-gold: rgb(232, 126, 4);
$color-yellow-casablanca: rgb(242, 120, 75);
$color-yellow-crusta: rgb(243, 194, 0);
$color-yellow-lemon: rgb(247, 202, 24);
$color-yellow-saffron: rgb(244, 208, 63);
$color-yellow-soft: rgb(200, 208, 70);
$color-yellow-haze: rgb(197, 191, 102);
$color-yellow-mint: rgb(197, 185, 107);
$color-purple: rgb(142, 68, 173);
$color-purple-plum: rgb(135, 117, 167);
$color-purple-medium: rgb(191, 85, 236);
$color-purple-studio: rgb(142, 68, 173);
$color-purple-wisteria: rgb(155, 89, 182);
$color-purple-seance: rgb(154, 18, 179);
$color-purple-intense: rgb(135, 117, 167);
$color-purple-sharp: rgb(121, 103, 153);
$color-purple-soft: rgb(136, 119, 169);
