$color-main: #0558a5;

/* color */
$color-main: #0558a5;

/*  color 변수  */
$color-white: #fff;
$color-default: #e1e5ec;
$color-dark: #2f353b;
$color-blue: #3598dc;
$color-blue-madison: #578ebe;
$color-blue-chambray: #2c3e50;
$color-blue-ebonyclay: #22313F;
$color-blue-hoki: #67809F;
$color-blue-steel: #4B77BE;
$color-blue-soft: #4C87B9;
$color-blue-dark: #5E738B;
$color-blue-sharp: #5C9BD1;
$color-blue-oleo: #94A0B2;
$color-green: #32C5D2;
$color-green-meadow: #1BBC9B;
$color-green-seagreen: #1BA39C;
$color-green-turquoise: #36D7B7;
$color-green-haze: #44B6AE;
$color-green-jungle: #26C281;
$color-green-soft: #3FABA4;
$color-green-dark: #4DB3A2;
$color-green-sharp: #2AB4C0;
$color-green-steel: #29B4B6;
$color-grey: #E5E5E5;
$color-grey-steel: #E9EDEF;
$color-grey-cararra: #FAFAFA;
$color-grey-gallery: #555555;
$color-grey-cascade: #95A5A6;
$color-grey-silver: #BFBFBF;
$color-grey-salsa: #ACB5C3;
$color-grey-salt: #BFCAD1;
$color-grey-mint: #525E64;
$color-red: #E7505A;
$color-red-pink: #E08283;
$color-red-sunglo: #E26A6A;
$color-red-intense: #E35B5A;
$color-red-thunderbird: #D91E18;
$color-red-flamingo: #EF4836;
$color-red-soft: #D05454;
$color-red-haze: #F36A5A;
$color-red-mint: #E43A45;
$color-yellow: #C49F47;
$color-yellow-gold: #E87E04;
$color-yellow-casablanca: #F2784B;
$color-yellow-crusta: #F3C200;
$color-yellow-lemon: #F7CA18;
$color-yellow-saffron: #F4D03F;
$color-yellow-soft: #C8D046;
$color-yellow-haze: #C5BF66;
$color-yellow-mint: #C5B96B;
$color-purple: #8E44AD;
$color-purple-plum: #8775A7;
$color-purple-medium: #BF55EC;
$color-purple-studio: #8E44AD;
$color-purple-wisteria: #9B59B6;
$color-purple-seance: #9A12B3;
$color-purple-intense: #8775A7;
$color-purple-sharp: #796799;
$color-purple-soft: #8877A9;
