//----- Grid System
$gridUnit : 12;

$gutter:2%;

$mobilePoint: 768;

$tabletPoint: 1200;

$PcPoint: 1920;


@mixin createCol($type){
    @for $num from 1 through $gridUnit{
        $boxNum : $gridUnit / $num;
        $gutterNum : $boxNum - 1;
        $widths : (100% - ($gutter * $gutterNum)) / $boxNum;
        
        @if($type == 'all'){
            .col-#{$num} {width: $widths; margin-left: $gutter;}
        }@else{
            .col-#{$type}-#{$num} {width: $widths;margin-left: $gutter;}
        }
    }
}

.row{
    @extend %clearFix;
    [class^="col-"] {
        @include freeFix(box-sizing, content-box);
        float:left;
        width:100%;
        &:first-child{
            margin-left:0;
        }
    }

    @include createCol('all');

    //1921 이상
    @include mediaMin($PcPoint+1){
        @include createCol('xl');
    }
    //1201 ~ 1920
    @include mediaMax($PcPoint){
        @include createCol('lg');
    }
    //~ 1920
    @include mediaMax($tabletPoint){
        @include createCol('md');
    }
    //0 ~ 768
    @include mediaMax($mobilePoint){
        @include createCol('sm');
    }
   
    
}





 